Source: unity-system-compositor
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-data,
               debhelper (>= 9),
               libboost1.48-all-dev | libboost-all-dev,
               libmirserver-dev,
               libprotobuf-dev,
               pkg-config,
               protobuf-compiler,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/unity-system-compositor
# If you aren't a member of ~unity-team but need to upload packaging changes,
# just go ahead. ~unity-system-compositor-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~unity-system-compositor-team/unity-system-compositor/trunk

Package: unity-system-compositor
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: System compositor for Ubuntu
 System compositor used by the Mir display server in Ubuntu. If the Unity
 System Compositor can't start, Mir will fallback to plain Xorg display server.
