Source: unity-system-compositor
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               cmake-data,
               dbus,
               debhelper (>= 9),
               g++-4.9,
               google-mock,
               libandroid-properties-dev [i386 amd64 armhf],
               libboost-dev,
               libboost-system-dev,
               libdbus-1-dev,
               libglib2.0-dev,
               libgles2-mesa-dev,
               libmirclient-dev (>= 0.13.0),
               libmirserver-dev (>= 0.13.0),
               libprotobuf-dev,
               pkg-config,
               python:any (>= 2.7),
               python-setuptools,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/unity-system-compositor
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:unity-system-compositor

Package: unity-system-compositor
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: powerd,
Description: System compositor for Ubuntu
 System compositor used by the Mir display server in Ubuntu. If the Unity
 System Compositor can't start, LightDM will fallback to plain Xorg display
 server.

Package: unity-system-compositor-autopilot
Architecture: all
Depends: python-autopilot,
         unity-system-compositor (>= ${source:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: Test package for Unity System Compositor
 Autopilots tests for Unity System Compositor

Package: ubuntu-desktop-mir
Architecture: all
Depends: lightdm (>= 1.9.4),
         unity-system-compositor,
         xserver-xorg-xmir,
         ${misc:Depends},
Replaces: unity-system-compositor (<< 0.0.2),
Breaks: unity-system-compositor (<< 0.0.2),
Description: System compositor for Ubuntu Desktop
 Settings package which installs everything Ubuntu Desktop needs to use Mir
 (via XMir).
