#!/usr/bin/make -f

%:
	dh $@ --parallel --fail-missing --with python3

override_dh_auto_configure:
	# Debian defines CMAKE_INSTALL_SYSCONFDIR as /usr/etc, which is wrong.
	# So until Debian bug 719148 is fixed, do it ourselves.
	dh_auto_configure -- -DCMAKE_INSTALL_SYSCONFDIR=/etc

override_dh_install:
	# install autopilot tests
	cd tests/autopilot; \
	set -ex; for python in $(shell py3versions -r); do \
	    $$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done; \
	cd $(CURDIR)
	dh_install -X'*.pyc' --fail-missing
